<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">Employee</a>
        <a href="#contact">Attendance</a>
        <a href="#about">Benefit</a>
        <a href="#about">Calendar</a>
        <a href="#about">Medical Portal</a>
        <a href="#about">Contracts</a>
        <a href="#about">Feedback</a>
        <a href="#about">Rewards</a>
        <a href="#about">Log Out</a>
      </div>
      
      
</body>
</html>