<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85">
      <form class="login100-form validate-form" method="POST" action="/login">
        <span class="login100-form-title p-b-70">
          HR System for Administrator
        </span>
        <span class="login100-form-avatar">
          <img src="img/cyberview.png" alt="AVATAR" />
        </span>

        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter email">
          <input class="input100" type="text" name="username" />
          <span class="focus-input100" data-placeholder="Email"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
          <input class="input100" type="password" name="pass" />
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" id="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="dropDownSelect1"></div>