<div class="modal fade" id="feed" tabindex="-1" role="dialog" aria-labelledby="getEmployeeModel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content reward-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Feed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/home" method="POST">
        <div class="modal-body">
          <label for="feedType" class="col-form-label">Feed Type:</label>
          <select name="feedType">
            <option value="Announcement">Announcement</option>
            <option value="Company News">Company News</option>
          </select>
          <div>
            <label for="content" class="col-form-label">Content:</label>
            <input type="text" class="form-control" name="content"></textarea>
          </div>
          <div>
            <label for="userid" class="col-form-label">Notify to:</label>

            <div class="reward-search-group">

              <i class="fa2 fa-search" aria-hidden="true"></i>
              <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" id="search_rewards_add" />


            </div>

            <div class="reward-table-fix">
              <table class="reward-table">
                <thread class="thread-inverse">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="table_body_re_add">
                    <% for(var i=0; i < data.employee.length; i++) { %>
                      <tr>
                        <td>
                          <%= data.employee[i].name %>
                        </td>
                        <td>
                          <%= data.employee[i].email %>
                        </td>
                        <td>
                          <%= data.employee[i].contact %>
                        </td>
                        <td><input type="checkbox" class="checkbox" name="userid" value=<%=data.employee[i]._id %>> |
                          ADD
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                </thread>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>


  </div>
</div>
</div>