<div class="modal fade" id="editinsurance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit reward</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/editinsurance" method="POST">
      <div class="modal-body">
          <div class="form-group">
            <label for="typeofInsurance" class="col-form-label">Type of Insurance:</label>
            <textarea type="text" class="form-control" id="nr10" name="typeofInsurance"></textarea>
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Description:</label>
            <textarea type="text" class="form-control" id="nr11" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="contactPerson" class="col-form-label">Contact Person:</label>
            <textarea type="text" class="form-control" id="nr12" name="contactPerson"></textarea>
          </div>
          <div class="form-group">
            <label for="contactNumber" class="col-form-label">Contact Number:</label>
            <textarea type="text" class="form-control" id="nr13" name="contactNumber"></textarea>
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" id="nr9" name="id" hidden></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  </div>
</div>