<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/home.css" >
    <link rel="stylesheet" type="text/css" href="css/medical.css" >
    <link rel="icon" type="image/png" href="img/cyberview.png"/>

    <title>Medical</title>
</head>

<body>
    <div class="topnav">
        <img class=logo-img src="img/cyberview.png" alt="AVATAR" >
        <a href="http://localhost:3000/home">Home</a>
        <a href="http://localhost:3000/employee">Employee</a>
        <a href="http://localhost:3000/attendance">Attendance</a>
        <a href="http://localhost:3000/benefit">Benefit</a>
        <a href="http://localhost:3000/calendar">Calendar</a>
        <a class="active" href="http://localhost:3000/medical">Medical Portal</a>
        <a href="http://localhost:3000/contracts">Contracts</a>
        <a href="http://localhost:3000/feedback">Feedback</a>
        <a href="http://localhost:3000/rewards">Rewards</a>
        <a href="logout">Log Out</a>
      </div>
      
      <div>
        <h1>Medical Plan</h1> 
        <button class="button button1">Add</button>
        <button class="button button2">Edit</button>
        <br></br>
      </div>

      <table>
        <tr>
          <th>Medical Plan</th>
          <th>Medical Card (Front)</th>
          <th>Medical Card (Back)</th>
          <th>Available For ...</th>
        </tr>
        <tr>
          <td>Medical Plan ABC</td>
          <td>PDF</td>
          <td>PDF</td>
          <td>PDF</td>
        </tr>
        <tr>
            <td>Medical Plan BBC</td>
            <td>PDF</td>
            <td>PDF</td>
            <td>PDF</td>
          </tr>
      </table>

      <div>
        <h1>Medical Records</h1> 
      </div>

      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Robert</td>
          <td>Food Poisoning</td>
          <td>14/11/2020</td>
        </tr>
        <tr>
            <td>Jason</td>
            <td>Fever</td>
            <td>12/12/2020</td>
          </tr>
      </table>

      <div>
        <h1>Clinic List</h1> 
        <button class="button button3">Add</button>
        <button class="button button4">Edit</button>
        <br></br>
      </div>
<div>
      <table>
        <tr>
          <th>Clinic</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Available For ...</th>
        </tr>
        <tr>
          <td>Clinic ABC</td>
          <td>2.9023</td>
          <td>101.6530</td>
          <td>List</td>
        </tr>
        </table>
        </div>
        <div>
          <h1>Insurance Coverage</h1> 
          <button class="button button5">Add</button>
          <button class="button button6">Edit</button>
          <br></br>
        </div>
  
        <table>
          <tr>
            <th>Type of Insurance</th>
            <th>Description</th>
            <th>Contact Person</th>
            <th>Contact Number</th>
            <th>Available For...</th>
          </tr>
          <tr>
            <td>Vehicle</td>
            <td>Sample</td>
            <td>Nancy</td>
            <td>012-3456789</td>
            <td>List</td>
          </tr>

        

        
</body>
</html>